:root{
    --primary-color: #25C760;
    --secondary-color: #FFFFFF;
    --third-color: #3C8063;
    --background-color: black;
}

/* START for alignment
--------------------------------------------------------------------------------------------------*/

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-17 {
    font-size: 17px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-19 {
    font-size: 19px !important;
}

.f-20 {
    font-size: 20px !important;
}

.f-21 {
    font-size: 21px !important;
}

.f-22 {
    font-size: 22px !important;
}

.f-23 {
    font-size: 23px !important;
}

.f-24 {
    font-size: 24px !important;
}

.f-25 {
    font-size: 25px !important;
}

.f-26 {
    font-size: 26px !important;
}

.f-27 {
    font-size: 27px !important;
}

.f-28 {
    font-size: 28px !important;
}

.f-29 {
    font-size: 29px !important;
}

.f-30 {
    font-size: 30px !important;
}

.fw-1 {
    font-weight: 100 !important;
}

.fw-2 {
    font-weight: 200 !important;
}

.fw-3 {
    font-weight: 300 !important;
}

.fw-4 {
    font-weight: 400 !important;
}

.fw-5 {
    font-weight: 500 !important;
}

.fw-6 {
    font-weight: 600 !important;
}

.fw-7 {
    font-weight: 700 !important;
}

.fw-8 {
    font-weight: 800 !important;
}

/*--------------------------------------------------------------------------------------------------
  END for alignment */

body {
    height: 100%;
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
    font-family: Gilroy;
}

html {
    height: 100%;
}

a {
    color: #00b7ff;
}

@font-face {
    font-family: Gilroy;
    src: url("/font/Title/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-bold;
    src: url("/font/Title/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Ubuntu;
    src: url("/font/Title/Ubuntu-R.ttf") format("opentype");
}

@font-face {
    font-family: Ubuntu-medium;
    src: url("/font/Title/Ubuntu-Medium.ttf") format("opentype");
}

@font-face {
    font-family: Ubuntu-bold;
    src: url("/font/Title/Ubuntu-B.ttf") format("opentype");
}

@font-face {
    font-family: OpenSans;
    src: url("/font/Content/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans-semibold;
    src: url("/font/Content/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans-bold;
    src: url("/font/Content/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans-light;
    src: url("/font/Content/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-extraBold";
    src: url("/font/Content/OpenSans-ExtraBold.ttf") format("truetype");
}

.swal2-input {
    width: 70% !important;
    height: 35px !important;
    font-size: 18px !important;
    text-align: center !important;
}

.swal2-confirm {
    background-color: #2e616f !important;
}

.product_container img {
    object-fit: contain;
    aspect-ratio: 1/1;
    /* width: 100%; */
    height: 100%;
}

.ellipsis {
    white-space: nowrap; /* Ensure the text is on one line */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis at the end of the overflow */
    width: 100%; /* Set a specific width or percentage as needed */
    display: block; /* Optional: Ensures the element behaves like a block */
}

.text-line-through {
    text-decoration: line-through;
}

/* footer */
.custom-vertical-line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #fff;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
}

.shop-footer {
    padding-bottom: 30px;
    .shop-country {
        display: inline-block;
        background-color: #e9e9e9;
        color: #000;
        padding: 8px 12px;
        border-radius: 2px;
        font-family: OpenSans-bold;
        font-size: 14px;
        line-height: normal;
        img {
            margin-right: 5px;
            width: 27px;
            vertical-align: sub;
        }
    }
    .shop-name {
        font-family: OpenSans-bold;
        font-size: 20px;
        color: #1a2323;
        margin-top: 30px;
    }

    .shop-info {
        display: flex;
        gap: 100px;
        margin-top: 20px;
        .shop-address {
            font-size: 14px;
            font-family: OpenSans-semibold;
            color: #1a2323;
        }
        .shop-contact {
            p {
                font-size: 14px;
                font-family: OpenSans-semibold;
                color: #1a2323;
                margin-bottom: 2px;
                i {
                    font-size: 12px;
                    margin-right: 8px;
                    color: #1a2323;
                }
                a {
                    color: #1a2323;
                }
            }
        }
    }
}

/* end footer */

/* nav */
.nav-countries {
    .btn-secondary {
        border: none;
        border-radius: 50px;
        background-color: #fff !important;
        color: #000 !important;
        padding-top: 10px;
        padding-bottom: 10px;
        transition:
            transform 0.3s,
            box-shadow 0.3s;
        font-size: 14px;
        font-family: OpenSans-bold;
        img {
            width: 30px;
            vertical-align: sub;
        }
    }
    .btn-secondary:hover,
    .btn-secondary:active,
    .show > .btn-secondary {
        background-color: #298a8d !important;
        border-color: #298a8d !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateY(-4px);
    }
    button.dropdown-item {
        padding: 10px 20px;
        font-size: 14px;
        font-family: OpenSans-semibold;
        cursor: pointer;
        img {
            width: 30px;
            margin-right: 10px;
            vertical-align: sub;
        }
    }
    button.dropdown-item:disabled {
        cursor: not-allowed;
    }
}

.mobileHeader-div {
    .nav-countries {
        .btn-secondary {
            padding: 10px 30px;
            img {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        button.dropdown-item {
            padding: 10px 15px;
            img {
                width: 30px;
                margin-right: 10px;
                vertical-align: sub;
            }
        }
    }
}

.container-top {
    padding: 2rem;
}

@media (max-width: 768px) {
    .container-top {
        padding: 140px 15px 30px 15px;
    }
}
/* .nav-countries:hover {
    .dropdown-menu {
        display: block;
    }
} */
/* end nav */
